<div class="custom-container">
    <div *ngIf="isLoading; then spinner else tableContent"></div>    
    <ng-template #spinner>Loading</ng-template>
    <ng-template #tableContent>
    
        <div class="table-container">
            <h1> Welcome to Drag n Drop Table!</h1>

            <h2>Test data rendered using mock API</h2>

            <input class="search-field" [formControl]="name" placeholder="Enter a term to search">
    
            <table>
                <tr *ngIf="!isLoading" cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                    <th class="example-box" *ngFor="let name of columnList" (click)="onRowClick($event, name)" cdkDrag>
                        <span class="table-header-cell">{{name}}</span>
                        <i 
                            [ngClass]="{'fa-arrow-up': filters?.columnName === name && filters?.columnOrder === 1,
                                        'fa-arrow-down': filters?.columnName === name && filters?.columnOrder === 2}" 
                            class="fa" 
                            aria-hidden="true"></i> 
                    </th>
                </tr>
        
                <tr *ngFor="let row of filteredTableData">
                    <td *ngFor="let name of columnList">{{row[name]}}</td>
                </tr>
            </table>
        </div>
    </ng-template>
    
</div>