
<h2>Test table render using the API data</h2>
<div *ngIf="isLoading; then spinner else tableContent">here is ignored</div>    
<ng-template #spinner>Loading</ng-template>
<ng-template #tableContent>
    <table>
        <!-- <tr> -->
            <!-- <th *ngFor="let column of columnList">{{column}}</th> -->
            <!-- <div > -->
                <tr *ngIf="!isLoading" cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                    <th class="example-box" *ngFor="let name of columnList" (click)="onRowClick($event, name)" cdkDrag>
                        <span>{{name}}</span>
                        <i 
                            [ngClass]="{'fa-arrow-up': filters?.columnName === name && filters?.columnOrder === 1,
                                        'fa-arrow-down': filters?.columnName === name && filters?.columnOrder === 2}" 
                            class="fa" 
                            aria-hidden="true"></i> 
                    </th>
                </tr>
            <!-- </div> -->
        <!-- </tr> -->
        <tr *ngFor="let row of filteredTableData">
            <td *ngFor="let name of columnList">{{row[name]}}</td>
        </tr>
    </table>
</ng-template>



<!-- <div *ngIf="!isLoading" cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let name of columnList" cdkDrag>{{name}}</div>
</div> -->