.custom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.table-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .search-field {
        width: 250px;
        height: 30px;
        line-height: 40px;
        padding: 5px 10px;
        border: none;
        border-bottom: solid 1px #ccc;
        outline: none;
        margin-bottom: 5px;
        border-radius: 5px;
        background: transparent;
    }

    table {
        box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
        padding : 10px;
        margin-top: 10px;
        border-spacing: 0px;
        width: 100%;
        
        tr {
            line-height: 40px;
        }
        td,th {
            border-bottom: solid 1px #ccc;
            border-collapse: collapse;
            padding: 10px;
            text-align: center; 
        }

        th {
            cursor: grab;
        }

        .table-header-cell {
            margin-right: 10px;
        }
    }
}



  .cdk-drag-preview {
    box-sizing: border-box;
    background: #ccc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    border-radius: 2px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }





.table {
    border-collapse: collapse;
}
.table, .table th, .table td {
    border: 1px solid #ccc;
}
.table th, .table td {
    padding: 0.5rem;
}
.table th {
    position: relative;
}
.resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize !important;
    user-select: none;
}
.resizer:hover, .resizing {
    border-right: 2px solid blue;
}

.resizable {  
    border: 1px solid gray;
    height: 100px;
    width: 100px;
    position: relative;
}

.pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .pagination-action {
        display: flex;
    }

    .page-number {
        padding: 5px;
        border-radius: 5px;
        margin: 0 2px;
    }
    .active {
        background: black;
        color: white;
    }
}