/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Nunito', sans-serif;
}

body {
    background: #fafafa;
}


.resizer {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize !important;
    user-select: none;
}
.resizer:hover, .resizing {
    border-right: 2px solid blue;
}

.resizable {  
    border: 1px solid gray;
    height: 100px;
    width: 100px;
    position: relative;
}