.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-field {
    width: 250px;
    height: 30px;
    line-height: 40px;
    padding: 5px 10px;
    border: none;
    border-bottom: solid 1px #ccc;
    outline: none;
    margin-bottom: 5px;
    border-radius: 5px;
    background: transparent;
}